body {
	font-family: "roboto", sans-serif;
	font-weight: bold;
	margin: 0;
	font-size: 12px;
	color: #495b60;
	background: linear-gradient(rgb(255, 255, 255), rgb(200, 200, 200));
}

@font-face {
	font-family: acrossTheRoad;
	font-style: normal;
	font-weight: normal;
	src: URL("../font/Across_the_road.ttf");
}
/* Layout */

.panel {
	min-height: 100vh;
}

.inner-wrapper {
	max-width: 1500px;
	width: 100%;
	margin: 0 auto;
	padding-top: 145px;
}

.three-even-columns,
.two-even-columns {
	margin: auto;
	width: 87%;
	content: '';
	clear: both;
	padding-left: 70px;
	
}

.three-column-1,
.three-column-2,
.three-column-3 {
	width: 29%;
	float: left;
	padding-top: 3px;
	margin-top: 82px;
	background-color: gray;
	border:2px solid black;
	box-shadow: 2px 2px 2px black;
	margin-top: 110px;
	margin-right: 13px;
	margin-left: 13px;
}


.three-column-1 > a > img {
	opacity: .4;
	width:60%; 
}

.three-column-1 > a > img:hover{
	opacity: 1;
}

.three-column-1 > a > p {
	color: white;
	margin-top: -32px;
}

.three-column-2 > a > img {
	opacity: .4;
width:60%;
}

.three-column-2 > a > img:hover{
	opacity: 1;
}

.three-column-2 > a > p {
 color: white;
 margin-top: -32px;
}

.three-column-3 > a > img {
	opacity: .4;
	width: 60%;

}

.three-column-3 > a > img:hover{
	opacity: 1;
}

.three-column-3 > a > p {
	color: white;
	margin-top: -32px;
}


.noBorderTop {
	border-top: none;
}

/* Text Styles */

h1 {
	font-size: 5em;
}

h2 {
	font-size: 4em;
}

h3 {
	font-size: 3em;
}

h4 {
	font-size: 2.5em;
}

h5 {
	font-size: 2em;
}

h6 {
	font-size: 1.5em;
}

p {
	font-size: 1.25em;
	color: #495b60;
}

/* Buttons */

.button {
	color: black;
	text-decoration: none;
	font-weight: 600;
	font-size: 18px;
}

/* Header Styles */

header {
	background-color: white;
	width: 100%;
	display: table;
	content: '';
	padding-top: 10px;
	margin-bottom: 50px;
}



.leftButton{
	border-right: 1px solid;
	padding-right: 7px;
	border-left: 1px solid;
	padding-left: 7px
}


/* Navigation */

header > nav {
	width: 100%;
	text-align: center;
}

header > nav ul {
	list-style-type: none;
}

header > nav ul li {
	display: inline-block;
	margin-bottom: 25px;
}

header > nav ul li img{
	width:200px;
	margin-bottom: -45px;
	padding-left: 85px;
	padding-right: 70px;
}

header > nav ul li a {
	padding: 10px;
	color: gray;
	padding-left: 70px;
	padding-right: 70px;
	text-decoration: none;
	font-size: 18px;
	font-family: arial;
	font-weight: bold;

}

header > nav ul li a:hover {
	color: black;
}

/* Hero Section */

#hero {
  background:linear-gradient(rgba(238, 233, 233, .38), rgba(220, 210, 210, .28)),
    url('http://static1.squarespace.com/static/5594c2f8e4b03e226a6a619a/t/56102efee4b04e09dd2a086f/1443901182761/7691211410_27f9a44c3f_o-1200x799.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80% 500px;
	text-align: center;
	font-style: oblique;
	text-shadow: 2px 2px black ;
	margin-top: -170px;
}

#hero > .inner-wrapper > h1{
	max-width: 100%;	
	margin-top: 200px;
	font-weight: bold;
	color: white;
}



/* Footer */

footer {
	max-width: 1300px;
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	padding: 45px 0;
	margin-top: 40px;

}

footer > h3{ 
font-family: Arial;
color: black;
}

footer > h5 {
	color: black;
	font-family: acrossTheRoad;
	margin-top: -45px;
}

footer > p {
	margin-top: -13px;
	font-size: 12;

}
